web:
  container_name: integration-starter
  image: tutum/apache-php
  volumes:
    - ./public:/app
  ports:
    - "80"
  environment:
    - ALLOW_OVERRIDE=true
    - VIRTUAL_HOST=integration-starter.dev